.fstln-hover{
  position: relative;

  .pop-element{
    display: none;
  }
  &:hover{

    .pop-element{
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
    }
  }

}
