.f-timeline{

  position: relative;
  &::after{
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 3px;
    background-color: #ccc;
  }
  
  // border: 1px solid;

  .f-timeline-ul{
    margin: 0;
    margin-left: 00px;
    padding-left: 10px;
  }
 
  .f-timeline-li{
    list-style: none;
    position: relative;
    z-index: 1;
    padding: 8px 15px;
    &::before{
      content: "";
      position: absolute;
      left: calc( (19px)/-2 + 1.5px );
      // top:0;
      // bottom: 0;
      height: 19px;
      width: 19px;
      background-color: #888;
      border: 3px solid #fff;
      border-radius: 50%;
      top: 50%;
      margin-top: -0.950px;
    }
    &:first-child{
      &::before{
        left: calc( (25px)/-2 + 1.5px );
        // top:0;
        // bottom: 0;
        height: 24px;
        width: 24px;
        background-color: #008060;
        margin-top: -12.5px;
        
      }
    }
    .f-timeline-item{
      
      &:hover{
        background-color: #f1f1f1;
      }
    }
  }

  .opt-item{
    padding: 0 1em;
  }
  .date{
    display: block;
    color: #666;

  }
  .time{
    display: block;
    float: right;
    color: #666;
  }
  .desc{
    line-height: 3em;
  }



}